<% provide(:title, @user.name) %>
<div class="col-md-6 col-md-offset-3 information center">

  
</div>

<div class="col-md-6 col-md-offset-3 events_schedule center">
  イベントスケジュール
</div>

<div class="col-md-6 col-md-offset-3 private_box center">
  プライベートボックス
</div>

<div class="col-md-6 col-md-offset-3 cooler_box center">
  冷蔵・冷凍庫内保管物
</div>