<% provide(:title, @user.name) %>
<!-- <div class="col-md-6 col-md-offset-3 information center"> -->
  <table class="col-md-6 col-md-offset-3 information">
    <tr>
      <th>名前</th>
      <th>入居中のSA</th>
      <th>部屋番号</th>
    </tr>
    <tr>
      <td><span><%= @user.name %></span></td>
      <td><span><%= @user.department %></span></td>
      <td><span><%= @user.room %></span></td>
    </tr>
  </table>


<table class="col-md-6 col-md-offset-3 menu_header center">
  <tr>
    <td class="col-md-4" style="background-color:#0077bb;">イベントスケジュール</td>
    <td class="col-md-4" style="background-color:#eeeeee;">プライベートボックス</td>
    <td class="col-md-4" style="background-color:#eeeeee;">冷蔵・冷凍庫内保管物</td>
  </tr>
</table>

<div class="col-md-6 col-md-offset-3 event_menu center">
  イベントスケジュール<br>コンテンツ内容
</div>