@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #00a0e9;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

#logo:hover {
  color: #ffd700;
  text-decoration: none;
}

.kv{
  margin-top: 30px;
  margin-bottom: 50px;
}

.kv img{
  width: 100%;
}

.login_button{
  margin-top: 20px;
}

.new_user{
  font-size: 20px;
  color: white;
  padding: 15px;
  margin-right: 10px;
  border: 3px solid #fff;
  border-radius: 40px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}

.new_user:hover{
  color: white;
  background-color: #f19149;
  text-decoration: none;
}

.login_screen{
  font-size: 20px;
  color: white;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 40px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
}

.login_screen:hover{
  color: white;
  background-color: #f19149;
  text-decoration: none;
}

.mail-address{
  font-size: 20px;
  margin-top: 100px;
  color: #fff;
}

.password{
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
}

.user_unregistered{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #f19149;
}

.user_unregistered:hover{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #dd8240;
  text-decoration: none;
}

.facebook{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #3b5998;
}

.facebook:hover{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #30497f;
  text-decoration: none;
}

.login{
  margin-bottom: 20px;
}

.h1_text{
  margin-top: 60px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}



/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}