@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #fff;
}

.navbar-inverse{
  background-color: #fff;
  border: 1px solid #d8d8d8;
}

.navbar-inverse .navbar-nav li a{
  color: #000;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all  0.4s ease;
}

.navbar-inverse .navbar-nav li a:hover{
  color: #ccc;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: #000;
}


.kv{
  margin-top: 30px;
  margin-bottom: 50px;
}

.kv img{
  width: 100%;
}

.login_button{
  margin-top: 20px;
}

.new_user{
  font-size: 20px;
  color: #fff;
  background-color: #0077bb;
  padding: 15px;
  margin-right: 20px;
  border-radius: 40px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all  0.4s ease;
}

.new_user:hover{
  color: white;
  background-color: #f19149;
  text-decoration: none;
}

.login_screen{
  font-size: 20px;
  color: #fff;
  background-color: #0077bb;
  padding: 15px;
  border-radius: 40px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all  0.4s ease;
}

.login_screen:hover{
  color: white;
  background-color: #f19149;
  text-decoration: none;
}

.mail-address{
  font-size: 20px;
  margin-top: 100px;
  color: #000;
}

.department{
  font-size: 20px;
  margin-top: 20px;
  color: #000;
}

.room{
  font-size: 20px;
  margin-top: 20px;
  color: #000;
}

.mail-address2{
  font-size: 20px;
  margin-top: 20px;
  color: #000;
}

.name{
  font-size: 20px;
  margin-top: 20px;
  color: #000;
}

.password{
  font-size: 20px;
  margin-top: 20px;
  color: #000;
}

.password2{
  font-size: 20px;
  margin-top: 20px;
  color: #000;
}

.user_unregistered{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #f19149;
}

.user_unregistered:hover{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #dd8240;
  text-decoration: none;
}

.facebook{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #3b5998;
}

.facebook:hover{
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #30497f;
  text-decoration: none;
}

.login{
  margin-bottom: 20px;
}

.h1_text{
  margin-top: 60px;
  font-weight: 500;
  font-size: 30px;
  color: #000;
}


/* show.html */
.information{
  color: #323232;
  background-color: #fff;
  height: 80px;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 20px;
}

.information th{
  padding-left: 20px;
}

.information td{
  padding-left: 20px;
}

.pbox_link{
  padding: 10px 116px 10px 116px;
  color: #fff;
  background-color: #eee;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all  0.4s ease;
}

.pbox_link:hover{
  text-decoration: none;
  background-color: #f19149;
  color: #fff;
}

.event_link{
  padding: 10px 116px 10px 116px;
  color: #fff;
  background-color: #eee;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all  0.4s ease;
}

.event_link:hover{
  text-decoration: none;
  background-color: #f19149;
  color: #fff;
}

.menu_header{
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
}

.menu_header tr td{
  border: 6px solid #fff;
  padding: 8px 0px 8px 0px;
}


.event_menu{
  padding: 16px;
  color: #fff;
  background-color: #0077bb;
  min-height: 240px;
  border-right: 6px solid #fff;
  border-left: 6px solid #fff;
}

.event_menu_header{
  
}

.event_menu_header tr td{
  border: 2px solid #fff;
  padding: 5px 0 5px 0;
  font-size: 14px;
}

.new_event{
  padding: 8px 0px 8px 0px;
  margin-top: 6px;
  color: #fff;
  background-color: #0077bb;
  border-right: 6px solid #fff;
  border-left: 6px solid #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all  0.4s ease;
}

.new_event:hover{
  color: #fff;
  background-color: #f19149;
  text-decoration: none;
}

.new_event:link{
  text-decoration: none;
}

.cooler_box{
  border: 4px solid #fff;
  border-radius: 45px;
  margin-top: 50px;
  padding: 16px;
  font-size: 32px;
  color: #fff;
  background-color: #0077bb;
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* event_signup */
.eventname{
  margin-top: 40px;
}

.eventdetail{
  margin-top: 10px;
}

.place{
  margin-top: 10px;
}

.eventday{
  margin-top: 10px;
}

.signup{
  margin-top: 20px;
  margin-bottom: 40px;
}


/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}